tr:hover {
    background-color: #d2f5d3;
    
  }

  th {
    background-color: #b5f3bf;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
  }

  tr {
    background-color: #ebefeb;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border-color: white;
    border-width: 4px;
    vertical-align: middle;
  }
  .overflow {
    overflow: hidden!important;
  }