<div class="responsiveBack">
  <div class="row h-100">
    <div class="col-sm-12 col-xl-12 text-center">
      <div class="row h-100">
        <div class="col-sm-12 col-xl-2 text-center t1 pt-5">
          <img class="logo mt-5" src="assets/Image/logo4.png" />
          <h5 class="font6">Mr.K SCIENTIFIC&reg;</h5>
        </div>
        <div class="col-sm-12 col-xl-4 text-left">
          <h1 class="font1 pt-1 responsiveFont1 t1">
            <b>If research loves environment</b>
          </h1>
          <br />
          <h2 class="font2 responsiveFont2 t1">Ask for our products!</h2>
        </div>
      </div>
    </div>
    <div class="col-xl-1 responsiveDiv3 t1"></div>
    <div class="col-sm-12 col-xl-5 list t1 pt-5 responsiveDiv1">
      <img class="responsiveImg" src="assets/Image/chemistry3.jpg" />

      <h1 class="card-title font3"><b>Your health is in your hands</b></h1>
      <ul class="list-group list-group-flush list font4 responsiveList">
        @for (item of list; track $index) {
        <li class="list-group-item list1">
          <span class="material-symbols-outlined pe-2">
            {{ item.symbol }}
          </span>
          {{ item.text }}
        </li>
        }
      </ul>
    </div>
    <div class="container col-sm-10 col-xl-6 responsiveDiv2 t2">
      <h5 class="font7 pt-3">Have a free advice!</h5>
      <app-form></app-form>
    </div>
  </div>
</div>
