

<!-- se voglio utilizzare la componente form devo creare un tag con il selettore di questo componente che di default si chiama sempre app-il 
nome della componente, nel seguente modo: -->


<div class="background ">
    <div class="row g-0 text-center">
      <div class="col-xs-4 col-md-4 pt-3">
        <img class="max-height" src="../assets/Image/MR.K.png" />
      </div>
      <div class="col-xs-8 col-md-8 text-center">
        <h1 class="font1 text-success pt-3">
          <b>La ricerca nel rispetto dell'ambiente</b>
        </h1>
        <div class="text-center"><img class="max-height"  src="../assets/Image/foglia.png"></div>
      </div>
    </div>
  
    <div class="row text-center">
        <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-4 col-md-3 pb-3">
        <ul class="list-group list-group-flush list-group-item pt-5 list font1" style="width: 60ch; height: 20ch; font-size: large; font-size: x-large;">
          <li class="list-group-item list1">
            <span class="material-symbols-outlined pe-2"> call </span>Consulenza
            gratuita
          </li>
          <li class="list-group-item list1">
            <span class="material-symbols-outlined pe-2"> science </span>Vetreria
            da laboratorio
          </li>
          <li class="list-group-item list1">
            <span class="material-symbols-outlined pe-2"> manufacturing </span>
            Strumentazione
          </li>
          <li class="list-group-item list1">
            <span class="material-symbols-outlined pe-2"> compost </span> Materie
            prime
          </li>
        </ul>
      </div>
      <div class="col-xs-1 col-md-1">
      </div>
      <div class="col-xs-6 col-md-6">
        <app-form [figlio]="figlio" (infoOutput)="risposta()"></app-form> 
      </div>
    </div>

    